#main_img {
  width: 80%;
  margin: 50px;
  margin-left: 150px;
}
#main {
  margin-bottom: 4px;
  text-align: center;
  background-image: url("backmain.jpg");
}

.top_menu li {
  display: inline-block;
  margin-right: 25px;
  margin-top: 10px;
}
.top_menu a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
.top_menu a:hover {
  color: red;
  text-decoration: underline;
}
.top_menu {
  align-items: center;
  border: 2px solid white;
  padding: 2px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  padding-left: 1100px;
}
.man {
  text-align: center;
}
p {
  margin-left: 300px;
  line-height: 23px;
}

.bok {
  color: #686a6c;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 480px;
  margin-top: 100px;
}
.bok:hover {
  color: red;
}

.kob {
  color: #686a6c;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-left: 150px;
}
.kob:hover {
  color: red;
}
.kobo {
  color: #686a6c;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-left: 150px;
}

.kobo:hover {
  color: red;
}
.kobok {
  color: #686a6c;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-left: 150px;
}

.kobok:hover {
  color: red;
}
